@import '../global-variables';

#ofertas-0km {
    #section-1 {
        margin-top: 21px;

        .content-col {
            @media screen and (min-width: desktop-min) {
                width: 32.133333%;
            }

            margin-bottom: 41px;
        }

        .row-cards {
            margin-top: 19px;
        }
    }
}

@import '../globals-sections/section-unidades';