@import '../global-variables';
@import '../globals-sections/section-banner-intro-int';

#quem-somos {
    .section-padrao {
        margin-bottom: 31px;
    }
}

@import '../globals-sections/section-unidades';

#section-nossas-unidades {
    margin-bottom: 53px;

    .title-large {
        display: none;
    }
}