#section-depoimentos {
    margin-bottom: 63px;

    @media screen and (min-width: mobile-min) and (max-width: tablet-max) {
        margin-bottom: 53px;
    }

    .row-depoiments {
        margin-top: 6px;
    }

    .splide__slide {
        @media screen and (min-width: desktop-min) {
            width: fit-content !important;
            margin-right: 50px !important;
        }
    }

    .model-splide-cards-1 .splide__arrow--next {
        height: 100%;
        margin-top: 0px;
    }
}