#section-seminovos-destaque {
    margin-bottom: 53px;

    .splide-cards-seminovos {
        margin-top: 6px;
    }

    .splide__slide {
        @media screen and (min-width: desktop-min) {
            margin-right: 34px !important;
            width: fit-content !important;
        }
    }

    .model-splide-cards-1 .splide__arrow--next {
        @media screen and (min-width: desktop-min) {
            margin-top: -5px;
            height: 98%;
        }
    }

    .button-4 {
        margin: 0 auto;
        margin-top: 30px;

        @media screen and (min-width: mobile-min) and (max-width: tablet-max) {
            margin-top: 52px;
        }
    }
}
