#section-ofertas-0-km {
    margin-bottom: 52px;

    .col-splide-cards {
    }

    .splide-cards-ofertas {
        .splide__track {
            @media screen and (min-width: desktop-min) {
                padding-top: 5px;
            }
        }
    }

    .button-4 {
        margin: 0 auto;
        margin-top: 30px;

        @media screen and (min-width: mobile-min) and (max-width: tablet-max) {
            margin-top: 52px;
        }
    }
}