.model-side-form-1 {
    width: 100%;
    padding: 22px 18px 15px 18px;
    background: cor2;
    border-radius: 10px;
    height: fit-content;



    @media screen and (min-width: mobile-min) and (max-width: tablet-max) {
        margin-bottom: 40px;
    }

    .title {
        font-size: 23.56px;
        color: cor4;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;

        * {
            color: cor4;
        }

        span {
            font-size: 16px;
        }
    }

    form {
        input, select, textarea {
            margin-bottom: 10px;
        }

        .form-check {
            .form-check-label {
                color: cor4;

                * {
                    color: cor4;
                }
            }
        }

        .box-check {
            margin-top: 17px;
        }

        .button {
            width: 100%;
            text-transform: uppercase;
            font-size: 15px;
            min-height: 41px;
            margin-top: 15px;
        }
    }
}