// size text
size-text-desktop = 24px;
size-text-mobile = 14px;
size-title-large-desk = 42.9px;
size-title-large-mob = 26px;
size-title-large-min = 26px;

//colors
cor1 = #2560a8;
cor2 = #23305c;
cor3 = #2560a8;
cor4 = #ffffff;
cor5 = #000000;
cor6 = #f4f4f5;
cor7 = #706f6f;
cor8 = #d3d6de;
cor9 = #1a1a1a;
cor10 = #2991d0;
cor11 = #92afd3;
cor12 = #cc9e2c;
cor13 = #292929

// font weight
regular = 400;
w-medium = 500;
simibold = 600;
w-bold = 700;
extrabold = 800;
w-blackk = 900;


// medias
desktop-min = 64em;
mobile-min = 320px;
tablet-max = 63.9375em;
tablet-min = 40em;

// grid
grid-container-desktop = 1240px;
grid-container-mobile = 90%;
max-layout = 1920px;

